<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="css/style.css" rel="stylesheet" media="all" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,300" rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'">
		<title>ESA Assessment</title>
		<!--[if lt IE 9]>
			<script src="js/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header role="banner">
			SEAP Assessments : ESA
		</header>
		{{#each questions}}
		<div class="slide question" id="{{sluggify question}}" data-category="{{sluggify category}}">
			<div class="question-container">
				<!--<img src="path/to/question-icon.svg" alt="" />-->
				<h2 class="question-text" tabindex="-1">
					<span class="vh">Question:</span> 
					<em>{{question}}</em>
				</h2>
				<div class="answers" aria-label="choose an answer">
					{{#each answers}}
					<label>
			            <input type="radio" value="{{value}}" name="{{sluggify ../category}}"> <span>{{label}}</span>
			        </label>
					{{/each}}
				</div>
				<ul aria-label="menu">
					<li>
						<button data-followup="#{{followUp}}" class="nav-link pick" data-action="pick">Ask me another</button>
					</li>
					<li>
						<button class="nav-link stats" data-action="stats">How I&#x2019;m doing</button>
					</li>
					<li>
						<button class="nav-link break" data-action="break">I need a break</button>
					</li>
				</ul>
			</div>
		</div>
		{{/each}}
		{{#each advice}}
		<div class="slide advice" id="{{sluggify title}}">
			<img src="path/to/advice-icon.svg" alt="" />
			<h2 class="advice" tabindex="-1">
				<em>{{title}}</em>
			</h2>
			<p class="description">{{description}}</p>
			{{#if are-there-tips}}
			<ul class="checklist" aria-label="Tips">
				{{#each tips}}
				<li>
					<label>
						<input type="checkbox" value="save" data-tip-id="{{sluggify this}}"> <span>{{this}}</span>
					</label>
				</li>
				{{/each}}
			</ul>
			{{/if}}
			<ul aria-label="menu">
				<li>
					<button class="nav-link">More</button>
				</li>
				<li>
					<button class="nav-link progress" data-action="stats">How I&#x2019;m doing</button>
				</li>
				<li>
					<button class="nav-link break" data-action="break">I need a break</button>
				</li>
			</ul>
		</div>
		{{/each}}
		<div class="slide qualify" id="qualify-high">
			<div class="box green">
				<h2 tabindex="-1">
					You may qualify for<br/>
					<strong>Support Group</strong>
				</h2>
				<p>Your answer to the last question shows that you may qualify for the highest ESA rate, placing you in the &#x201c;Support Group&#x201d;. Do you want to try more questions?</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="pick">Another question</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats">How I&#x2019;m doing</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide qualify" id="qualify-low">
			<div class="box green">
				<h2 tabindex="-1">
					You may qualify for<br/>
					<strong>Work Related Activity Group</strong>
				</h2>
				<p>Your answer to the last question shows that you may qualify for the standard ESA rate, placing you in the &#x201c;Work Related Activity Group&#x201d;. It&#x2019;s still possible that you may qualify for a higher rate. To find out, try some more questions.</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="pick">Another question</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats">How I&#x2019;m doing</button>
					</li>
					<li>
						<button href="#main-menu" class="nav-link">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide main-menu" id="main-menu">
			<div class="flow">
				<h1>ESA Assessment Trainer <span>from SEAP</span></h1>
				<p>Welcome to your <abbr title="Employment And Support Allowance">ESA</abbr> training website, designed to help you get ready for your ESA medical assessment. This website&hellip;</p>
				<ul class="ticks">
					<li>Is run independently and impartially by the charity, <a href="http://www.seap.org.uk/">SEAP</a></li>
					<li>Does not collect any personal data from you</li>
					<li>Is not another big, boring form for you to fill in!</li>
				</ul>
				<div role="toolbar" aria-label="menu options">
					<ul>
						<li><button data-action="start-or-resume">Practise <span>by assessing yourself</span></button></li>
						<li><button data-action="advice">Find out more <span>about the ESA assessment</span></button></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slide break-time" id="break-time">
			<div class="box">
				<img src="images/tea.png" alt="steaming cup of tea" />
				<h2 tabindex="-1">You&#x2019;re on a break</h2>
				<p>Feel free to close the window or turn off your computer and come back when you&#x2019;re ready :-)</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="resume">Continue</button>
					</li>
					<li>
						<button class="nav-link" data-action="restart">Restart</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide get-started" id="start">
			<div class="box">
				<h2 tabindex="-1">Let&#x2019;s begin</h2>
				<p>In your real assessment you'll be asked questions about your ability to do things. Here, you can try out some of these questions and get an idea of how you'd do in the real assessment. You can <a role="button" href="#break-time" data-action="break">take a break</a> at any time and come back later :-)</p>
				<div><button class="nav-link" data-action="pick">Try a question</button></div>
			</div>
		</div>
		<div class="slide get-started" id="seen-all">
			<div class="box green">
				<h2>No more new questions</h2>
				<p>You&#x2019;ve seen all the questions (so you're pretty familiar with the assessment now!) but you skipped some. What would you like to do?</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="skipped">Skipped questions</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats">How I&#x2019;m doing</button>
					</li>
					<li>
						<button class="nav-link" data-action="restart">Restart</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide get-started" id="seen-all-even-skipped">
			<div class="box green">
				<h2>Practise complete!</h2>
				<p>You&#x2019;ve answered all the practice questions available, so you&#x2019;re pretty well versed now. What would you like to do next?</p>
				<ul aria-label="menu">
					<li>
						<button class="nav-link" data-action="menu">Main Menu</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats">How I&#x2019;m doing</button>
					</li>
					<li>
						<button class="nav-link" data-action="restart">Practise again</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide get-started" id="resume">
			<div class="box">
				<h2 tabindex="-1">Hello again?</h2>
				<p>Looks like you've been here before. Press &#x201c;continue&#x201d; if you want to carry on where you left off. Not been here before? Choose &#x201c;main menu&#x201d;.</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="resume">Continue</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide get-started" id="resume-practise">
			<div class="box">
				<h2 tabindex="-1">Continue?</h2>
				<p>Looks like you&#x2019;ve already done some practice. Would you like to continue from where you left off or restart? (Restarting will clear all the saved question data from your computer).</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="pick">Continue</button>
					</li>
					<li>
						<button class="nav-link" data-action="restart">Restart</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide stats" id="stats">
			<div class="stats-container">
				<div id="stats-content" class="flow"></div>
				<div class="flow">
					<ul aria-label="menu">
						<li>
							<button data-followup="#{{followUp}}" class="nav-link pick" data-action="pick">Ask me more questions</button>
						</li>
						<li>
							<button class="nav-link break" data-action="break">I&#x2019;ll have a break</button>
						</li>
						<li>
							<button class="nav-link break" data-action="menu">Main menu</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<nav role="navigation" class="to-main-menu">
			<button data-action="menu">Main Menu</button>
		</nav>
		<script>
			window.allQuestions = [{{#each questions}}'{{sluggify question}}',{{/each}}];
		</script>
		<script src="js/all-scripts.js"></script>
		<script id="stats-template" type="text/x-handlebars-template">
			<!--(bake stats-template.html)-->
		</script>
	</body>
</html>

