<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="css/style.css" rel="stylesheet" media="all" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,300" rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'">
		<title>My ESA Assessment</title>
		<!--[if lt IE 9]>
			<script src="js/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header role="banner">
			<span role="image" aria-label="SEAP assessments ESA logo">My ESA Assessment</span>
			<nav role="navigation" class="to-main-menu">
				<ul>
					<li>
						<a href="javascript:void(0)" data-action="menu">Main Menu</a> 
					</li>
					<li>
						<a href="javascript:void(0)" data-action="stats">My Assessment</a>
					</li>
					<li>
						<a href="javascript:void(0)" data-action="data">My Data</a>
					</li>
				</ul>
			</nav>
		</header>
		{{#each questions}}
		<div class="slide question" id="question-{{sluggify question}}" data-category="{{sluggify category}}">
			<div class="question-container">
				<!--<img src="path/to/question-icon.svg" alt="" />-->
				<h2 class="question-text" tabindex="-1">
					<span class="activity">Activity: {{category}}</span>
					<span class="vh">Question:</span>
					<em>{{question}}</em>
				</h2>
				<div class="answers" aria-label="choose an answer">
					{{#each answers}}
					<label>
			            <input type="radio" value="{{value}}" name="{{sluggify ../category}}"> <span>{{label}}</span>
			        </label>
					{{/each}}
				</div>
				<ul aria-label="menu">
					<li>
						<button data-followup="#{{followUp}}" class="nav-link pick" data-action="pick">Ask me another</button>
					</li>
					<li>
						<button class="nav-link stats" data-action="stats">My assessment so far</button>
					</li>
					<li>
						<button class="nav-link break" data-action="break">I need a break</button>
					</li>
				</ul>
			</div>
		</div>
		{{/each}}
		{{#each advice}}
		<div class="slide advice" id="{{sluggify title}}">
			<div class="flow">
				<!--<img src="path/to/advice-icon.svg" alt="" />-->
				<h2 class="advice" tabindex="-1">
					{{title}}
				</h2>
				<p class="description">{{description}}</p>
				<div class="things-to-remember">
					<h3>Things to remember</h3>
					<p>Check any items you want added to <strong>Your Reminders</strong> checklist, which you can print out with <a data-action="stats" href="javascript:void(0)">your other assessment info</a>.</p>
					<ul>
						{{#each tips}}
						<li>
							<label>
								<input type="checkbox" value="save" data-tip-id="{{sluggify this}}"> <span>{{this}}</span>
							</label>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
		{{/each}}
		<div class="slide qualify" id="qualify-high">
			<div class="box green">
				<h1 tabindex="-1">
					You may qualify for<br/>
					<strong>Support Group</strong>
				</h1>
				<p>Your answer to the last question shows that you may qualify for the highest ESA allowance, placing you in the &#x201c;Support Group&#x201d;. Do you want to try more questions?</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="pick">Another question</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats">My assessment so far</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide qualify" id="qualify-low">
			<div class="box green">
				<h1 tabindex="-1">
					You may qualify for<br/>
					<strong>Work Related Activity Group</strong>
				</h1>
				<p>Your answer to the last question shows that you may qualify for the standard ESA allowance, placing you in the &#x201c;Work Related Activity Group&#x201d;. It&#x2019;s still possible that you may qualify for a higher rate. To find out, try some more questions.</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="pick">Another question</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats">My assessment so far</button>
					</li>
					<li>
						<button href="#main-menu" class="nav-link">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide break-time" id="break-time">
			<div class="box">
				<img src="images/tea.png" alt="steaming cup of tea" />
				<h1 tabindex="-1">You&#x2019;re on a break</h1>
				<p>Feel free to close the window or turn off your computer and come back when you&#x2019;re ready. Everything will be as you left it :-)</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="resume">Continue</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide deleted" id="deleted">
			<div class="box">
				<h1 tabindex="-1" style="red">Deleted</h1>
				<p>All of your assessment data has been successfully deleted from your computer.</p>
				<ul aria-label="menu">
					<li>
						<button class="nav-link" data-action="menu">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide get-started" id="start">
			<div class="box">
				<h1 tabindex="-1">Let&#x2019;s begin</h1>
				<p>In your real assessment you&#x2019;ll be asked questions about your ability to do activities. Here, you can try out some of these questions and be told how you might do in a real assessment. You can <a role="button" href="#break-time" data-action="break">take a break</a> at any time and come back later. Your computer will remember where you were in the app :-)</p>
				<div><button class="nav-link" data-action="categories">Choose an activity</button></div>
			</div>
		</div>
		<div class="slide get-started" id="seen-all">
			<div class="box green">
				<h1 tabindex="-1">No more new questions</h1>
				<p>You&#x2019;ve seen all the questions (so you&#x2019;re pretty familiar with the assessment now!) but you skipped some. What would you like to do?</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="skipped">Skipped questions</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats">My assessment so far</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide get-started" id="seen-all-even-skipped">
			<div class="box green">
				<h1 tabindex="-1">Practise Complete!</h1>
				<p>You&#x2019;ve answered all the practice questions available, so you&#x2019;re pretty well versed now. What would you like to do next?</p>
				<ul aria-label="menu">
					<li>
						<button class="nav-link" data-action="stats">How did my assessment go?</button>
					</li>
					<li>
						<button class="nav-link" data-action="restart">Practise again</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu">Main Menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide get-started" id="resume">
			<div class="box">
				<h1 tabindex="-1">Hello again?</h1>
				<p>Looks like you&#x2019;ve been here before. Press &#x201c;continue&#x201d; if you want to go back to where you were. Not been here before? Choose &#x201c;main menu&#x201d;.</p>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="resume">Continue</button>
					</li>
					<li>
						<button class="nav-link" data-action="clean-up">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide stats" id="stats">
			<div class="stats-container">
				<div id="stats-content" class="flow"></div>
			</div>
		</div>
		<div class="slide about" id="about-esa">
			<div class="flow">
				<h1 tabindex="-1">All About ESA</h1>
				<p>You can choose a topic from the options below. <br>Not in the mood for reading? <a role="button" data-action="start-or-resume" href="javascript:void(0)">Practice some assessment questions instead &#x2192;</a></p>
				<div class="expandies">
					<h2><button aria-controls="what-is-esa-for" aria-expanded="false">What is ESA for?</button></h2>
					<div id="what-is-esa-for" aria-hidden="true">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac sapien non velit dapibus consequat et sed magna. Vestibulum sit amet pulvinar ligula, nec varius dolor. Curabitur porta eros bibendum sapien viverra ullamcorper. Phasellus quam sapien, maximus non dapibus in, posuere tempus tortor. Duis faucibus luctus fringilla. Nulla mauris orci, interdum vel purus non, ultrices elementum tortor. Quisque sit amet augue a tortor convallis viverra.</p>
					</div>
	    			<h2><button aria-controls="who-is-it-for" aria-expanded="false">Who is it for?</button></h2>
	    			<div id="who-is-it-for" aria-hidden="true">
	    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac sapien non velit dapibus consequat et sed magna. Vestibulum sit amet pulvinar ligula, nec varius dolor. Curabitur porta eros bibendum sapien viverra ullamcorper. Phasellus quam sapien, maximus non dapibus in, posuere tempus tortor. Duis faucibus luctus fringilla. Nulla mauris orci, interdum vel purus non, ultrices elementum tortor. Quisque sit amet augue a tortor convallis viverra.</p>
	    			</div>
	    			<h2><button aria-controls="application-process" aria-expanded="false">Application process</button></h2>
	    			<div id="application-process" aria-hidden="true">
	    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac sapien non velit dapibus consequat et sed magna. Vestibulum sit amet pulvinar ligula, nec varius dolor. Curabitur porta eros bibendum sapien viverra ullamcorper. Phasellus quam sapien, maximus non dapibus in, posuere tempus tortor. Duis faucibus luctus fringilla. Nulla mauris orci, interdum vel purus non, ultrices elementum tortor. Quisque sit amet augue a tortor convallis viverra.</p>
	    			</div>
	    			<h2><button aria-controls="assessment-process" aria-expanded="false">Assessment process</button></h2>
	    			<div id="assessment-process" aria-hidden="true">
	    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac sapien non velit dapibus consequat et sed magna. Vestibulum sit amet pulvinar ligula, nec varius dolor. Curabitur porta eros bibendum sapien viverra ullamcorper. Phasellus quam sapien, maximus non dapibus in, posuere tempus tortor. Duis faucibus luctus fringilla. Nulla mauris orci, interdum vel purus non, ultrices elementum tortor. Quisque sit amet augue a tortor convallis viverra.</p>
	    			</div>
	    			<h2><button aria-controls="the-decision" aria-expanded="false">The decision</button></h2>
	    			<div id="the-decision" aria-hidden="true">
	    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac sapien non velit dapibus consequat et sed magna. Vestibulum sit amet pulvinar ligula, nec varius dolor. Curabitur porta eros bibendum sapien viverra ullamcorper. Phasellus quam sapien, maximus non dapibus in, posuere tempus tortor. Duis faucibus luctus fringilla. Nulla mauris orci, interdum vel purus non, ultrices elementum tortor. Quisque sit amet augue a tortor convallis viverra.</p>
	    			</div>
	    			<h2><button aria-controls="the-outcome" aria-expanded="false">The outcome</button></h2>
	    			<div id="the-outcome" aria-hidden="true">
	    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac sapien non velit dapibus consequat et sed magna. Vestibulum sit amet pulvinar ligula, nec varius dolor. Curabitur porta eros bibendum sapien viverra ullamcorper. Phasellus quam sapien, maximus non dapibus in, posuere tempus tortor. Duis faucibus luctus fringilla. Nulla mauris orci, interdum vel purus non, ultrices elementum tortor. Quisque sit amet augue a tortor convallis viverra.</p>
	    			</div>
					<div class="print-box">
						<a class="button-shaped" aria-hidden="true" href="docs/All_About_ESA.pdf" title="opens a new tab" target="_blank">Read The Guide (opens new tab)</a>
						<p>Want to know more? You can <a href="docs/All_About_ESA.pdf" target="_blank">read our in-depth guide <span class="vh">opens new tab</span></a>.</p>
					</div>
					<ul aria-label="menu">
						<li>
							<button class="nav-link" data-action="start-or-resume">Practise some assessment questions</button>
						</li>
						<li>
							<button class="nav-link" data-action="menu">Main menu</button>
						</li>
					</ul>					
    			</div>
			</div>
		</div>
		<div class="slide main-menu" id="main-menu">
			<div class="flow">
				<h1 tabindex="-1">My ESA Assessment</h1>
				<p class="larger">Welcome to our <abbr title="Employment And Support Allowance">ESA</abbr> website, designed to help you get ready for your ESA assessment. This website is <strong class="tick">run independently and impartially</strong> by the charity SEAP, <strong class="tick">does not collect your personal data</strong> and contains <strong class="tick">no long, boring forms!</strong></p>
				<div role="toolbar" aria-label="menu options">
					<ul>
						<li class="half">
							<button data-action="about-esa">All about ESA <span>and your assessment</span></button>
						</li>
						<li>
							<button data-action="start-or-resume"><i aria-hidden="true">&#x2605;</i> Practise <i aria-hidden="true">&#x2605;</i> <span>by assessing yourself</span></button>
						</li>
						<li>
							<button data-action="stats">My Assessment <span>and how it&#x2019;s going so far</span></button>
						</li>
						<!--<li class="half">
							<button data-action="answering-questions">Answering <span>questions the right way</span></button>
						</li>
						<li class="half">
							<button data-action="prep" data-prep-slug="travel">Travelling <span>to your assessment</span></button>
						</li>-->
					</ul>
				</div>
			</div>
		</div>
		<div class="slide category-finished" id="category-finished">
			<div class="box">
				<h1 tabindex="-1">Well done!</h1>
				<p>You&#x2019;ve seen all the practise questions about <strong id="this-activity">this activity</strong>. What would you like to look at next?</p>
				<ul aria-label="menu">
					<li>
						<button class="nav-link" data-action="categories">A new activity</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats">My assessment so far</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu">Main menu</button>
					</li>
				</ul>				
			</div>
		</div>
		<div class="slide data" id="data">
			<div class="flow">
				<h1 tabindex="-1">My Data</h1>
				<p>This app does not send any of your data anywhere or keep any for itself. However, it <em>does</em> save some data just on the computer you&#x2019;re using in order to work properly.</p> 
				<p>If this is not your computer, tablet or phone you can delete all this data when you are done using the app. This way, no one else will see it.</p>
				<ul aria-label="menu">
					<li>
						<button class="nav-link red" data-action="delete-data">I'm done! Delete my stuff</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats">I want to see my data first</button>
					</li>
					<li>
						<button class="nav-link" data-action="menu">Main menu</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide categories" id="categories">
			<div class="box" id="categories-content">
			</div>
		</div>
		<footer role="contentinfo">
			<p>Brought to you by <a href="http://www.seap.org.uk/"><img src="images/logo.png" alt="The Charity, SEAP" /></a></p>
		</footer>
		<script>
			window.allQuestions = [{{#each questions}}{ question: 'question-{{sluggify question}}', category: '{{category}}' },{{/each}}];
			window.allCategories = [{{#each questions}}'{{category}}',{{/each}}];
		</script>
		<script src="js/all-scripts.js"></script>
		<script id="stats-template" type="text/x-handlebars-template">
			<!--(bake stats-template.html)-->
		</script>
		<script id="categories-template" type="text/x-handlebars-template">
			<!--(bake categories-template.html)-->
		</script>
	</body>
</html>

