<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="css/style.css" rel="stylesheet" media="all" />
		<title>ESA Assessment</title>
		<!--[if lt IE 9]>
			<script src="js/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header role="banner">
			<a href="#" aria-label="SEAP Assessments homepage">SEAP Assessments</a>
		</header>
		{{#each questions}}
		<div class="slide question" id="{{sluggify question}}" data-category="{{sluggify category}}">
			<img src="path/to/question-icon.svg" alt="" />
			<h2 class="question-text" tabindex="-1">
				<span class="vh">Question:</span> 
				<em>{{question}}</em>
			</h2>
			<div class="answers" aria-label="choose an answer">
				{{#each answers}}
				<label>
		            <input type="radio" value="{{value}}" name="{{sluggify ../question}}"> <span>{{label}}</span>
		        </label>
				{{/each}}
			</div>
			<div aria-label="question menu">
				<ul>
					<li>
						<button data-followup="#{{followUp}}" class="nav-link" data-action="pick">Ask me another</button>
					</li>
					<li>
						<button class="nav-link" data-action="stats">My stats</button>
					</li>
					<li>
						<a href="#break-time" class="nav-link break">I need a break</a>
					</li>
				</ul>
			</div>
		</div>
		{{/each}}
		{{#each advice}}
		<div class="slide advice" id="{{sluggify title}}">
			<img src="path/to/advice-icon.svg" alt="" />
			<h2 class="advice" tabindex="-1">
				<em>{{title}}</em>
			</h2>
			<p class="description">{{description}}</p>
			{{#if are-there-tips}}
			<ul class="checklist" aria-label="Tips">
				{{#each tips}}
				<li>
					<label>
						<input type="checkbox" value="save" data-tip-id="{{sluggify this}}"> <span>{{this}}</span>
					</label>
				</li>
				{{/each}}
			</ul>
			{{/if}}
			<div aria-label="menu">
				<ul>
					<li>
						<button class="nav-link">More</button>
					</li>
					<li>
						<button class="nav-link progress" data-action="stats">My stats</button>
					</li>
					<li>
						<a href="#break-time" class="nav-link break">I need a break</a>
					</li>
				</ul>
			</div>
		</div>
		{{/each}}
		<div class="slide qualify" id="qualify">
			/* qualification */
		</div>
		<div class="slide main-menu" id="main-menu">
			/* main menu */
		</div>
		<div class="slide break-time" id="break-time">
			<div class="box">
				<img src="images/tea.png" alt="steaming cup of tea" />
				<h2>You&#x2019;re on a break</h2>
				<ul aria-label="menu">
					<li>	
						<button class="nav-link" data-action="resume">Continue</button>
					</li>
					<li>
						<button class="nav-link" data-action="restart">Restart</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="slide get-started" id="start">
			<div class="box">
				<h2>Let&#x2019;s start</h2>
				<p>In your real assessment you'll be asked questions about your ability to do things. Here, you can try out some of these questions and get an idea of how you'd do in the real assessment. You can <a href="#break-time">take a break</a> at any time and come back later :-)</p>
				<p><button class="nav-link" data-action="pick">Try a question</button></p>
			</div>
		</div>
		<div class="slide get-started" id="seen-all">
			<h2>No more new questions</h2>
			<p>You've seen all the questions we have available (so you're pretty familiar with the assessment now!) but you skipped some. What would you like to do?</p>
			<ul aria-label="menu">
				<li>	
					<button class="nav-link" data-action="resume">Try skipped questions</button>
				</li>
				<li>
					<button class="nav-link" data-action="stats">My stats</button>
				</li>
				<li>
					<button class="nav-link" data-action="restart">Restart</button>
				</li>
			</ul>
		</div>
		<div class="slide get-started" id="resume">
			<div class="box">
				<h2>Hello again?</h2>
				<p>Looks like you've been here before. Press &#x201c;continue&#x201d; if you want to carry on. Not been here before or want to start again? Press &#x201c;restart&#x201d;.</p>
				<div aria-label="menu">
					<li>	
						<button class="nav-link" data-action="resume">Continue</button>
					</li>
					<li>
						<button class="nav-link" data-action="restart">Restart</button>
					</li>
				</div>
			</div>
		</div>
		<nav role="navigation" class="to-main-menu">
			<a href="#main-menu">Main Menu</a>
		</nav>
		<script>
			window.allQuestions = [{{#each questions}}'{{sluggify question}}',{{/each}}];
		</script>
		<script src="js/all-scripts.js"></script>
	</body>
</html>

